<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="com.six.ioc.one.one.User" id="user">
			<property name="name" value="ac"></property>
			<property name="age" value="18"></property>
			<property name="sex" value="男"></property>
		</bean>
</beans>